[ req ]
default_bits = 1024
distinguished_name = req_DN
string_mask = nombstr

[ req_DN ]
countryName = "DE "
countryName_default = DE
countryName_min = 2
countryName_max = 2
stateOrProvinceName = "BY "
localityName = "Maxhuette-Haidhof "
0.organizationName = "MSK-SOFTWARE "
organizationalUnitName = "MSK-SOFTWARE "
commonName = "MSK-SOFTWARE"
commonName_max = 64
commonName_default = MSK-SOFTWARE
emailAddress = "info@MSK-SOFTWARE.de "
emailAddress_max = 40